
@using (Html.BeginForm("PostVcards" , "Vcard", null, FormMethod.Post, new { enctype = "multipart/form-data" }))
{ 
    <input type="file" name="file"/>

<button type="submit" class="btn btn-primary" > Submit </button>



}